/* Định nghĩa hiệu ứng */
@keyframes float-up {
    from {position: relative; top: 100px; opacity: 0; z-index: -25;}
    to {position: relative; top: 0; opacity: 1; z-index: -25;}
}
@keyframes appear-opacity{
    from{opacity: 0; position: fixed;}
    to{opacity: 1; position: fixed;}
}
@keyframes split-vertical-out{
    from {position: relative; right: 100vw; opacity: 0; z-index: -25;}
    to{position: relative; right: 0; opacity: 1; z-index: -25;}
}
@keyframes exit{
    from { display: block; }
    to { display: none; }
}
@keyframes hover-fly{
    from{ position: relative; bottom: 0; }
    to{ position: relative; bottom: 3px; }
}
/* Bố cục toàn trang */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
/* "Khai báo" hiệu ứng */
.split-vertical-out{
    animation-name: split-vertical-out;
}
.float-up{
    animation-name: float-up;
}
.exit{
    animation-name: exit;
}
.appear-opacity{
    animation-name: appear-opacity;
}
.hover-fly:hover{
    opacity: 0.8;
    animation-name: hover-fly;
    animation-duration: 0.5s;
    position: relative;
    bottom: 3px;
}
.split-vertical-out, .float-up, .exit, .appear-opacity{
    animation-duration: 3s;
}
/* Thành phần đặc biệt */
.flex-container{
    display: flex;
}
.section{
    height: 100px;
}
.part-title{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.footer-title{
    font-size: 2em;
    margin-bottom: 10px;
}
.top-section{
    display: none;
}
.relative{
    position: relative;
}
.dark-element{
    background-color: #323642;
    position: absolute;
    width: 100%;
    animation-name: float-up;
    z-index: -1;
}
.white-title{
    color: white;
}
.required-star{
    color: red;
}
/* Navigation */
.nav{
    font-family: 'Roboto Slab', serif;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 1.25em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation-duration: appear;
    animation-duration: 2s;
}
.nav .menu{
    flex: 50%;
}
.nav .logo, .nav .login-register{
    flex: 25%;
    justify-content: center;
}
.nav .menu ul{
    list-style: none;
    justify-content: space-evenly;
}
.nav .menu ul li a, .nav .login-register a, .nav .login-register p{
    text-decoration: none;
    color: #000000;
}
.nav .login-register p{
    margin: 0 10px;
}
.nav .menu ul li a{
    text-transform: uppercase;
}
.nav .menu ul li a:hover, .nav .login-register a:hover{
    text-decoration: underline green;
}
.nav .logo img{
    margin: 0 10px;
}
/* Thân trang */
.text-wrapper{
    background-image: url(/SPCK/Product/Photos/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 607.20px;
}
.about-contact{
    width: 60vw;
    height: 75vh;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}
.about, .contact{
    margin: 30px 0 50px 0;
    flex: 50%;
}
.about{
    border-right: #000000 solid 2px;
}
.about p, .contact form p, .contact form .input, .contact form .textarea{
    margin-left: 20px;
    margin-top: 10px;
}
.about p, .contact form p{
    font-size: 1.25em;
}
.about .icon-list{
    font-size: 2em;
    margin: 10px 20px;
    justify-content: space-evenly;
}
.about-contact legend{
    font-size: 1.5em;
    margin-left: 25px;
}
.about-contact .contact form .submit{
    font-size: 1.5em;
    text-align: center;
    width: 30%;
    height: 50px;
    margin: 0 35%;
    background-color: #000000;
    color: white;
    border: 2px solid gray;
}
.about-contact .contact form .submit:hover{
    opacity: 0.75;
}
.about-contact .contact form .input, .about-contact .contact form .textarea{
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 1.25em;
}
.about-contact .contact form .input, .about-contact .contact form .textarea:focus{
    outline: none;
}